<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bw.mapper.BookMapper">

	<insert id="insert" parameterType="com.bw.test.Book">
		insert into book (id,bname,btime,price,tid) values (#{id},#{bname},#{btime},#{price},#{tid})
	</insert>
	
	<select id="queryTypeByName" resultType="com.bw.test.Type">
		select * from type where tname=#{name}
	</select>
</mapper>